h1 {
  text-align: center;
}

.navigation_bar{
  background-color: aliceblue;
  width: 500px;
  height: 50px;
  float: right;
}

.navigation_bar ul {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 0px 10px
}